{% extends "app/base.html" %}
{%load static%}
{%block body_block%}
<div class="About">
    <h2>About us</h2>
    <p>ELearn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Fullstack Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development, Oracle Modules, Angularjs, ELearn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Fullstack Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development, Oracle Modules, Angularjs,
    </p>
    <h4>Vision</h4>
    
    <p>Learn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Fullstack Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,</p>
    <h3>Mission</h3>
    <p>Learn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Fullstack Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,
    </p>
    <h4>Our Specialities</h4>
    <ul>
        <li>Learn Infotech is a Realtime Training Company offering Courses on varied IT</li>
        <li>Technologies like Fullstack Development, Python, React JS, Node JS, Web De</li>
        <li>with MySQL, Digital Marketing, Java, UI/UX Designing & Development</li>
        <li>with MySQL, Digital Marketing, Java, UI/UX Designing & Development</li>
        <li>Learn Infotech is a Realtime Training Company offering Courses on varied</li>
        <li>with MySQL, Digital Marketing, Java, UI/UX Designing & Development,</li>

       
    </ul>
   
    
    
    
   
    
    
</div>


{%endblock%}