{% extends "app/base.html" %}

{%load static%}
{%block body_block%}

<img src ="{% static 'images/pic-1.jpeg'%}"class='image'>

<h5 class="head"><marquee>Admissions are open 2025| Admission are open 2025.......................................................</marquee></h5>

<center><h2>Welcome To Elearn InfoTech</h2>
<p>Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development, Oracle Modules, Angularjs, SAP Modules, Cloud Computing, Graphic Designing etc. Established in 2016 ELearn Infotech has successfullyracle Modules, Angularjs, SAP Modules, Cloud Computing, Graphic Designing etc. Established in 2016 ELearn Infotech has successfully racle Modules, Angularjs, SAP Modules, Cloud Computing, Graphic Designing etc. Established in 2016 ELearn Infotech has successfully</p>
<div class ='choose'>
  <h2 class = 'yam'>Why Choose us?</h2>
  <iframe m-2 width="281" height="183" src="https://www.youtube.com/embed/H03wb1cZCSQ" title="Showreel for School Promotional Videos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <iframe width="281" height="180" src="https://www.youtube.com/embed/TSBgfmF6gDY" title="&quot;Thought of the day&quot; presented by Princess Saha || Morning Assembly|| KV Gandhinagar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <iframe width="281" height="180" src="https://www.youtube.com/embed/GY8OffC52PM" title="Line Formation and Open order marching.#physicaleducation #students #play #gaming #class #schoollife" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <iframe width="283" height="180" src="https://www.youtube.com/embed/aU063R-djH8" title="Activity of Class Montessori" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<h2>Parent Feedbacks.</h2>
<iframe width="281" height="183" src="https://www.youtube.com/embed/VztLd-6doFw" title="Parents feedback for teachers | Result feedback From parents | Parents feedback" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="281" height="183" src="https://www.youtube.com/embed/a72npW7DeB4" title="Conversation | Parent and Teacher | PTM | Adrija Biswas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="281" height="183" src="https://www.youtube.com/embed/F-Zvy5Rn3M4" title="How to Shine in Your Teacher Interview: Tips for Success | Proven Strategies | Usha Pandit" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<div class = 'div'>
    <h5>still Hunting for a job?</h5>
    <p>Elearn Infotech is a Realtime Training Comany offering Cousre on varied IT Technologies like Fullstack Development,python,React JS,Node JS,Web Design & PHP with MYSQL,Digital Marketing</p>
    <button class ='button-style'><a href="{% url 'contact_us' %}"> Register</a></button>
</div>

</center>


{%endblock%}

