{% extends "app/base.html" %}
{%load static%}
{%block body_block%}

<div class = 'para'>
    <div class = 'heading'>
        <h4>LATEST NEWS</h4>
    </div>
    <p>Learn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Fullstack Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,</p>
    <p>Learn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Fulistack Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,</p>
    <p>Learn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Fullstack Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,</p>
    <p>Learn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Fullstack Development, Python, React JS, Node JS, Web Design & PHP with MySQL, Digital Marketing, Java, UI/UX Designing & Development,
     </p>
</div>


{%endblock%}