{% extends 'app/base.html' %}
{%load static%}
{% block body_block %}
<h1 class="heading"><b>Videos</b></h1>
<div  class="video1" >
        <iframe width="33%" height="240" src="https://www.youtube.com/embed/CpD2VtPNIaY" allowfullscreen></iframe>
        <iframe width="33%"height="240" src="https://www.youtube.com/embed/CpD2VtPNIaY" allowfullscreen></iframe>
        <iframe width="33%" height="240" src="https://www.youtube.com/embed/aU063R-djH8" allowfullscreen></iframe>
         <iframe width="33%" height="240" src="https://www.youtube.com/embed/CpD2VtPNIaY" allowfullscreen></iframe>
        <iframe width="33%"height="240" src="https://www.youtube.com/embed/CpD2VtPNIaY" allowfullscreen></iframe>
        <iframe width="33%" height="240" src="https://www.youtube.com/embed/aU063R-djH8" allowfullscreen></iframe>
         <iframe width="33%" height="240" src="https://www.youtube.com/embed/CpD2VtPNIaY" allowfullscreen></iframe>
        <iframe width="33%"height="240" src="https://www.youtube.com/embed/CpD2VtPNIaY" allowfullscreen></iframe>
        <iframe width="33%" height="240" src="https://www.youtube.com/embed/aU063R-djH8" allowfullscreen></iframe>
    </div>

{% endblock %}
